<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="styles/theme.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">

    <script src="/js/popper.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
    <title>Felix LAN Tool</title>
</head>

<body>
    {{> header}}
    <main class="container">
        {{{body}}}
    </main>
</body>

</html>