body, main {
    padding-top: 2.5rem;
  }
  
li {
    /* display: grid;
    grid:
    "nm dl" 2em
    /1fr 3em;
    grid-gap: 1em; */
}
.nameElem{
    display: inline-flex;
    flex-shrink: 0;
    width: 2rem;
    height: 2rem;
    justify-content: left;
    align-items: center;
    /* top: 50%;
    float: left;
    vertical-align: -100%; */
}
.btnElem{
    display: inline-flex;
    flex-shrink: 0;
    width: 4rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 1rem;
}

